/* -------------------- VA TODO SIN SASS HASTA QUE LO PASE -------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
}
/* -------------------- NavBar -------------------------- */
nav {
  width: 100%;
  position: fixed !important;
  top: 0;
}

.navbar {
  background-color: #F471B7;
  z-index: 899;
}

.navbar button.navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0);
}

.navbar--img {
  width: 120px;
  height: 120px;
  margin-top: -5px;
  margin-bottom: -20px;
}


.navbar .dropdown-menu {
  border: none;
  padding-left: 10px;
  background-color: #F471B7;
}

.navbar button.navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0);
}

.navbar-nav {
  padding-left: 43%;
}

.dropdown-item:hover {
  background-color: #F471B7;
}


.navbar ul li a {
  color: #fff !important;
}

.navbar a {
  color: white;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
}


@media screen and (max-width: 992px) { 
  .navbar-nav {
      padding-left: 0%;
  }

}

/* -------------------- Fin NavBar -------------------------- */

  /* -------------------- Galeria -------------------------- */
  
  /*
  .oli img:hover {
    transform: scale(1.05);
    transition: 0.5s all; 
    box-shadow: blueviolet;
    cursor: pointer;
  }
  */
  .oli img {
    transition: 0.8s;
  }
  
  .card-img-top {
    width: 100%;
    height: 21.4rem;
  }
  
  .galeria--espacio {
    padding-top: 20px;
  }
  
  .card-body {
    background-color: #C9A2E2;
  }
  
  .galeria--titulos {
    margin-left: 135px;
    text-align: start;
    margin-top: 150px;
    color: #F471B7;
    font-size: 30px;
    line-height: 40.85px;
  }

  .galeria--espacio a{
    text-decoration: none;
    color: white;
  }

  .card-text {
    font-size: 16px;
  }

  .galeria-ultima {
    opacity: 0;
  }
  
  /* -------------------- Fin Galeria -------------------------- */

  /* -------------------- Descripcion Galeria -------------------------- */

  .descripcion--container{
    margin-top: 110px;
  }

  .descripcion--container .descripcion-linea {
    width: 98%;
    height: 1px;
    background-color: #FBEF55;
  }
  
  .descripcion--container li{
    list-style-type: initial;
  }

  .descripcion--container p {
    font-size: 16px;
    line-height: 21.79px;
  }
  .descripcion--container h1{
    font-size: 30px;
    text-align: start;
    color: #C9A2E2;
    font-weight: 600;
  }

  .descripcion--img {
    margin-top: 2%;
    width: 100%;
    height: 70%;
  }

  .descripcion--img--xl {
    margin-top: 2%;
    width: 100%;
    height: 58%;
  }
  .descripcion--img--md {
    margin-top: 2%;
    width: 100%;
    height: 65%;
  }

  .descripcion--img--sm {
    margin-top: 5%;
    width: 100%;
    height: 95%;
  }
  .descripcion--img--otra {
    margin-top: 5%;
    width: 100%;
    height: 100%;
  }

  .agrandar {
    margin-top: 2%;
    width: 100%;
    height: 82%;
  }

  .descripcion--boton {
    width: 200px;
    height: 36px;
    border-radius: 4px;
    border-width: 0;
    background-color: #F471B7;
    color: white;
    font-size: 16px;
  }
  .galeria-iconos-flotantes {
    margin-top: 15%;
  }
  /* -------------------- Fin Descripcion Galeria -------------------------- */

  /* --------------------  Iconos Flotantes -------------------------- */

  .galeria-iconos-flotantes {
    height: 112px;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: contain;
    position: fixed;
    left: 4.44444vw;
    bottom: 2.5vh;
    z-index: 1; }
    .galeria-iconos-flotantes a {
      text-decoration: none; }
    .galeria-iconos-flotantes img {
      width: 100%;
      height: auto; }

  /* -------------------- Fin Iconos Flotantes -------------------------- */

 

  /* -------------------- Banner -------------------------- */
.banner{
  width: 100%;
  margin-top: 4%;
  margin-bottom: 3%;
}

  .banner .carro {
    width: 3.7vw;
    height: 7.3vh;
    margin-left: 40% !important;
  }
  .banner .billetera {
    width: 3.5vw;
    height: 7.5vh;
    margin-left: 40% !important;
  }
  .banner .manos {
    width: 4vw;
    height: 6vh;
    margin-left: 40% !important;
  }
  .banner .truckk {
    width: 4vw;
    height: 6vh;
    margin-left: 40% !important;
  }

  .banner .lineaArriba {
    width: 60%;
    margin-bottom: 4%;
  }

  /* -------------------- Fin Banner -------------------------- */
  /* -------------------- Banner2 -------------------------- */
  
  .banner2 {
    width: 100%;
    margin-top: -22%;
    margin-bottom: 3%;
  }
  
    .banner2 .carro {
      width: 3.7vw;
      height: 7.3vh;
      margin-left: 40% !important;
    }
    .banner2 .billetera {
      width: 3.5vw;
      height: 7.5vh;
      margin-left: 40% !important;
    }
    .banner2 .manos {
      width: 4vw;
      height: 6vh;
      margin-left: 40% !important;
    }
    .banner2 .truckk {
      width: 4vw;
      height: 6vh;
      margin-left: 40% !important;
    }

    .banner2 .lineaArriba {
      width: 60%;
      margin-bottom: 4%;
    }
  
  /* -------------------- Fin Banner2 -------------------------- */

    /* -------------------- Banner3 -------------------------- */
.banner3{
  width: 100%;
  margin-top: -4.5%;
  margin-bottom: 3%;
}

  .banner3 .carro {
    width: 3.7vw;
    height: 7.3vh;
    margin-left: 40% !important;
  }
  .banner3 .billetera {
    width: 3.5vw;
    height: 7.5vh;
    margin-left: 40% !important;
  }
  .banner3 .manos {
    width: 4vw;
    height: 6vh;
    margin-left: 40% !important;
  }
  .banner3 .truckk {
    width: 4vw;
    height: 6vh;
    margin-left: 40% !important;
  }

  .banner3 .lineaArriba {
    width: 60%;
    margin-bottom: 4%;
  }

  /* -------------------- Fin Banner3 -------------------------- */
    /* -------------------- Banner4 -------------------------- */
.banner4{
  width: 100%;
  margin-top: -12.5%;
  margin-bottom: 3%;
}

  .banner4 .carro {
    width: 3.7vw;
    height: 7.3vh;
    margin-left: 40% !important;
  }
  .banner4 .billetera {
    width: 3.5vw;
    height: 7.5vh;
    margin-left: 40% !important;
  }
  .banner4 .manos {
    width: 4vw;
    height: 6vh;
    margin-left: 40% !important;
  }
  .banner4 .truckk {
    width: 4vw;
    height: 6vh;
    margin-left: 40% !important;
  }

  .banner4 .lineaArriba {
    width: 60%;
    margin-bottom: 4%;
  }

  /* -------------------- Fin Banner4 -------------------------- */
    /* -------------------- Banner5 -------------------------- */
.banner5{
  width: 100%;
  margin-top: 8%;
  margin-bottom: 3%;
}

  .banner5 .carro {
    width: 3.7vw;
    height: 7.3vh;
    margin-left: 40% !important;
  }
  .banner5 .billetera {
    width: 3.5vw;
    height: 7.5vh;
    margin-left: 40% !important;
  }
  .banner5 .manos {
    width: 4vw;
    height: 6vh;
    margin-left: 40% !important;
  }
  .banner5 .truckk {
    width: 4vw;
    height: 6vh;
    margin-left: 40% !important;
  }

  .banner5 .lineaArriba {
    width: 60%;
    margin-bottom: 4%;
  }

  /* -------------------- Fin Banner5 -------------------------- */

  /* -------------------- Banner Mobile-------------------------- */
  .banner-container-grid {
    display: none !important;
    display: grid;
    justify-content: center;
    width: 90%;
    padding-top: -10%;
    margin-bottom: 3%;
  }

  .banner-container-grid .lineaArriba {
    width: 60%;
  }
  
  .banner-contenido-flex {
    display: flex;
  }

  .banner-contenido-flex .icono{
    margin-right: 15%;
  }
  
  
  /* -------------------- Fin Banner Mobile-------------------------- */
  
  


  /*---------------------------------------------------------------------*/
  @media (max-width: 1300px) {
   

  
  }

  @media (max-width: 1050px) {
    .banner {
      display: none !important;
    } 
    
    .banner2 {
      display: none !important;
    } 
    .banner3 {
      display: none !important;
    } 
    .banner4 {
      display: none !important;
    } 
    .banner5 {
      display: none !important;
    } 
    

    .banner-container-grid {
      display: block !important;
      width: 80%;
    }

    .descripcion--img--xl {
      margin-top: 2%;
      width: 100%;
      height: 90%;
    }

    .descripcion--img--sm {
      margin-top: 2%;
      height: 90%;
    }

    .descripcion--img--md {
      margin-top: 2%;
      height: 90%;
    }
    .descripcion--img--otra {
      margin-top: 2%;
      height: 90%;
    }

    .agrandar {
      height: 100%;
    }
  }

  @media (max-width: 992px) { 
    .descripcion--container .descripcion-linea {
      display: none;
    }
}

@media (max-width: 575px) { 
 
 
}
@media (min-width: 760px) and (max-width: 1050px) { 
  .banner-container-grid {
    margin-left: 27%;
  }

  .banner-container-grid .lineaArriba {
    width: 40%;
    margin-left: 8%;
  }
}

@media (max-width: 440px) { 
  
}

@media (max-width: 767px) {
  .galeria-ultima {
    display: none;
  }
}

@media (min-width: 575px) and (max-width: 767px) { 
  .banner-container-grid {
    margin-left: 20%;
  }
  }
