/*Variables*/
/*SCSS*/
* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: sans-serif; }

h1 {
  font-size: 22px;
  text-align: center; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 15px;
  font-weight: bold; }

p {
  font-size: 12px; }

.imageWrapper {
  position: relative;
  top: -111px;
  height: 100vh;
  width: 100vw;
  background-color: #8951AD;
  background-image: url(../assets/img/Foto-portada.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom; }

.nuestrosProductos {
  padding-left: 4.5vh;
  padding-right: 4.5vh; }
  .nuestrosProductos h1 {
    color: #F471B7; }

.linea {
  border-top: solid;
  border-width: 1px;
  border-color: #FEBF55;
  width: 55vw;
  margin: auto;
  margin-top: 3.75vh;
  margin-bottom: 3.75vh; }

.productosContenedor .seccionProductos {
  position: relative;
  border-radius: 4px;
  height: 28.75vh;
  width: 100%;
  margin-bottom: 4.5vh;
  padding: 4.5vw 2.25vw 2.25vw 0; }
  .productosContenedor .seccionProductos .tituloSeccion {
    height: 30px;
    width: 90%;
    background-color: #C9A2E2;
    border-radius: 0 45px 45px 0; }
    .productosContenedor .seccionProductos .tituloSeccion h2 {
      color: white;
      text-align: center;
      line-height: 30px; }
  .productosContenedor .seccionProductos .boton {
    border-radius: 4px;
    border-width: 0;
    background-color: #8951AD;
    color: white;
    font-size: 15px;
    padding: 0 auto;
    position: absolute;
    right: 2.25vw;
    bottom: 1.25vh;
    height: 36px;
    width: 91px; }

.productosContenedor .tortas {
  background-image: url(../assets/img/Portada-card-tortas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.productosContenedor .momentoDulce {
  background-image: url(../assets/img/Portada-card-momentodulce.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.productosContenedor .desayunos {
  background-image: url(../assets/img/Portada-card-desayunos-meriendas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.productosContenedor .festividades {
  background-image: url(../assets/img/Portada-card-Festividades.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.personalizados {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: teal;
  text-align: center;
  padding-top: 60.625vh;
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/Seccion-pedidos-personalizados.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .personalizados h2 {
    margin-left: 14.72vw;
    margin-right: 14.72vw;
    color: #8951AD; }
  .personalizados button {
    position: absolute;
    background-color: #F471B7;
    bottom: 17.5vh;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    color: white;
    width: 240px;
    height: 36px; }

.seccionCondiciones {
  height: 52.5vh;
  padding-top: 3.75vh;
  padding-left: 9.44vw;
  padding-right: 5vw; }
  .seccionCondiciones .lineaArriba {
    margin-top: 0;
    margin-bottom: 2.5vh; }
  .seccionCondiciones .lineaAbajo {
    margin-top: 2.5vh; }
  .seccionCondiciones .condicionPedido {
    margin-bottom: 3.75vh;
    height: 7.5vh;
    display: grid;
    grid-template-areas: "icono titulo" "icono descripcion";
    grid-template-columns: 18.33vw 67.23vw;
    grid-template-rows: 32px 40px; }
    .seccionCondiciones .condicionPedido .icono {
      grid-area: icono;
      display: flex;
      justify-content: center;
      align-items: center; }
    .seccionCondiciones .condicionPedido .icarrito {
      height: 32px;
      width: 36px; }
    .seccionCondiciones .condicionPedido .ipago {
      height: 32px;
      width: 32px; }
    .seccionCondiciones .condicionPedido .iretiro {
      height: 20px;
      width: 32px; }
    .seccionCondiciones .condicionPedido .ientrega {
      height: 32px;
      width: 46px; }
    .seccionCondiciones .condicionPedido .titulo {
      grid-area: titulo;
      color: #8951AD;
      margin: auto 0; }
      .seccionCondiciones .condicionPedido .titulo h3 {
        margin-bottom: 0; }
    .seccionCondiciones .condicionPedido .descripcion {
      grid-area: descripcion; }

.iconosFlotantes {
  height: 112px;
  width: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  object-fit: contain;
  position: fixed;
  left: 4.44444vw;
  bottom: 2.5vh;
  z-index: 1; }
  .iconosFlotantes a {
    text-decoration: none; }
  .iconosFlotantes img {
    width: 100%;
    height: auto; }

.instagramFeed {
  width: 100vw;
  margin-top: 3.75vh;
  padding-left: 4.44444vw;
  padding-right: 4.72222vw; }
  .instagramFeed h1 {
    text-align: left;
    color: #8951AD; }
  .instagramFeed h3 {
    text-align: right;
    color: #F471B7; }
  .instagramFeed iframe {
    height: 66.66667vw !important; }

footer {
  height: 320px;
  width: 100vw;
  padding-top: 8.75vh;
  padding-bottom: 8.4375vh;
  padding-right: 2.22222vw;
  padding-left: 4.44444vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/img/Footer-Opacity.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); }
  footer h2 {
    color: white;
    text-align: center; }
  footer form {
    margin-top: 40px;
    margin-bottom: 58px;
    display: flex; }
    footer form input {
      margin: 0;
      border: 0px; }
    footer form .inputNewsletter {
      width: 176px;
      height: 36px; }
    footer form .botonNewsletter {
      background-color: #8951AD;
      color: white;
      border-radius: 0 4px 4px 0;
      width: 176px;
      height: 36px;
      font-size: 15px; }
  footer .redesSociales {
    position: absolute;
    bottom: 54px;
    height: 20px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    footer .redesSociales img {
      height: 100%;
      width: auto;
      object-fit: scale-down; }

/*SOBRE NOSOTROS - FORMULARIO*/
.sectionMargin {
  margin-bottom: 1px; }

.sectionWrapper {
  padding-top: 15vh;
  width: 100vw; }
  .sectionWrapper h1 {
    margin-bottom: 0;
    color: #F471B7; }
  .sectionWrapper .linea {
    margin-top: 1.25vh; }
  .sectionWrapper .contenido {
    display: grid;
    grid-template-areas: "foto1 texto" "foto2 texto";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 16px;
    padding-left: 16px; }
  .sectionWrapper .foto1 {
    grid-area: foto1;
    margin-bottom: 2.5vh;
    width: 42.22222vw;
    border: solid black;
    height: 29.53125vh;
    background-color: blue; }
    .sectionWrapper .foto1 img {
      object-fit: scale-down; }
  .sectionWrapper .foto2 {
    grid-area: foto2;
    width: 42.22222vw;
    border: solid black;
    height: 29.53125vh;
    background-color: blue; }
    .sectionWrapper .foto2 img {
      object-fit: scale-down; }
  .sectionWrapper .texto {
    grid-area: texto;
    text-align: justify; }

/*------------------FORMULARIO----------------*/
.formWrapper {
  margin: 0 4.44444vw; }
  .formWrapper .inputForm {
    outline: 0;
    border: none;
    border-bottom: 1px solid #C9A2E2;
    width: 100%;
    margin-bottom: 2.5vh; }
  .formWrapper textarea {
    height: 11.5625vh;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C9A2E2;
    margin-bottom: 4.84375vh; }
  .formWrapper .botonFormulario {
    margin-top: 5vh;
    margin-bottom: 3.75vh;
    width: 240px;
    height: 36px;
    background-color: #F471B7;
    color: white;
    border-radius: 4px;
    border: none;
    float: right; }

/*--------------RESPONSIVE-----------*/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 16px; }
  .imageWrapper {
    max-width: 100vw; }
    .imageWrapper img {
      max-width: 100%; }
  .linea {
    width: 200px; }
  .nuestrosProductos {
    padding-left: 1.11111vw;
    padding-right: 1.11111vw; }
    .nuestrosProductos .productosContenedor {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .nuestrosProductos .productosContenedor .seccionProductos {
        height: 44.21053vh;
        width: 23.61111vw;
        margin-right: 1.11111vw;
        padding-top: 2.80702vh; }
        .nuestrosProductos .productosContenedor .seccionProductos .boton {
          background-color: #C9A2E2;
          position: absolute;
          bottom: 1.40351vh;
          right: 0.97222vw;
          width: 95px; }
      .nuestrosProductos .productosContenedor .festividades {
        margin-right: 0; }
  .seccionProductos:hover button {
    background-color: #8951AD !important; }
  .seccionProductos:hover .tituloSeccion {
    background-color: #8951AD; }
  .personalizados {
    padding-top: 52.7193vh; }
    .personalizados .tituloPersonalizado {
      height: 175px;
      width: 693px;
      text-align: center;
      margin: auto; }
      .personalizados .tituloPersonalizado h2 {
        font-size: 30px; }
    .personalizados button {
      bottom: 14.38596vh; }
  .seccionCondiciones {
    padding-left: 1.11111vw;
    padding-right: 1.11111vw;
    padding-top: 4.91228vh;
    height: 24.03509vh; }
    .seccionCondiciones .lineaArriba {
      margin-bottom: 4.16667vh; }
    .seccionCondiciones .lineaAbajo {
      margin-top: 4.21053vh;
      margin-bottom: 4.86842vh; }
    .seccionCondiciones .condicionesWrapper {
      max-width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap; }
    .seccionCondiciones .condicionPedido {
      grid-template-columns: 6.67vw 17.22vw;
      grid-template-rows: 24px 40px;
      margin-bottom: 0; }
      .seccionCondiciones .condicionPedido p {
        font-size: 16px; }
  .instagramFeed {
    margin-top: 0;
    padding-left: 2.22222vw;
    padding-right: 2.22222vw; }
    .instagramFeed h3 {
      font-size: 20px; }
    .instagramFeed iframe {
      height: 66.66667vw !important; }
  footer {
    padding-top: 4.21053vh;
    padding-left: 33.54167vw;
    padding-right: 36.45833vw; }
    footer .tituloFooter {
      height: 5.61404vh;
      width: 30vw; }
      footer .tituloFooter h2 {
        font-weight: 600; }
      footer .tituloFooter .redesSociales {
        height: 25px; }
  /*---------------SOBRE NOSOTROS---------*/
  .sectionWrapper {
    height: 60vh; }
    .sectionWrapper .contenido {
      display: grid;
      grid-template-areas: "foto1 texto foto2" !important;
      grid-template-columns: 25% 50% 25% !important;
      grid-template-rows: 39.91228vh !important;
      border: solid black; }
      .sectionWrapper .contenido .foto1 {
        grid-area: foto1;
        width: 23.81944vw;
        height: 36.49123vh;
        background-color: red;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
      .sectionWrapper .contenido .foto2 {
        grid-area: foto2;
        width: 23.81944vw;
        height: 36.49123vh;
        background-color: red;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
      .sectionWrapper .contenido .texto {
        grid-area: texto;
        text-align: justify;
        height: 36.49123vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
  .footerRow {
    margin-top: 134px; }
  /*---------------FORMULARIO CONTACTO-----------*/
  .formWrapper {
    margin: 0;
    padding: 0 25.76389vw; }
    .formWrapper .botonFormulario {
      padding: 0; } }
