/*Variables*/
/*SCSS*/
* {
  margin: 0; }

body {
  font-family: sans-serif; }

h1 {
  font-size: 22px;
  text-align: center; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 15px;
  font-weight: bold; }

p {
  font-size: 12px; }

.navbar {
  background-color: #F471B7;
  height: 12.5vh; }

.imageWrapper {
  height: 87.5vh;
  width: 100vw;
  background-color: #F471B7; }

img {
  height: 87.5vh;
  width: 100vw;
  object-fit: cover;
  /*contain, cover, scale-down, fill, none*/ }

.nuestrosProductos {
  padding-top: 11vh;
  padding-left: 4.5vh;
  padding-right: 4.5vh; }
  .nuestrosProductos h1 {
    color: #F471B7; }

.linea {
  border-top: solid;
  border-width: 1px;
  border-color: #FEBF55;
  width: 55vw;
  margin: auto;
  margin-top: 3.75vh;
  margin-bottom: 3.75vh; }

.productosContenedor .seccionProductos {
  position: relative;
  border-radius: 4px;
  height: 28.75vh;
  width: 100%;
  margin-bottom: 4.5vh;
  padding: 4.5vw 2.25vw 2.25vw 0; }
  .productosContenedor .seccionProductos .tituloSeccion {
    height: 4.6875vh;
    width: 78.16667vw;
    background-color: #C9A2E2;
    border-radius: 0 45px 45px 0; }
    .productosContenedor .seccionProductos .tituloSeccion h2 {
      color: white;
      text-align: center;
      line-height: 4.6875vh; }
  .productosContenedor .seccionProductos .boton {
    border-radius: 4px;
    border-width: 0;
    background-color: #8951AD;
    color: white;
    font-size: 15px;
    padding: 0 4.5vw;
    position: absolute;
    right: 2.25vw;
    bottom: 1.25vh; }

.productosContenedor .tortas {
  background-image: url(../assets/img/Portada-card-tortas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.productosContenedor .momentoDulce {
  background-image: url(../assets/img/Portada-card-tortas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.productosContenedor .desayunos {
  background-image: url(../assets/img/Portada-card-desayunos-meriendas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.productosContenedor .festividades {
  background-image: url(../assets/img/Portada-card-tortas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.personalizados {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: teal;
  text-align: center;
  padding-top: 60.625vh;
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/Seccion-pedidos-personalizados.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .personalizados h1 {
    margin-left: 14.72vw;
    margin-right: 14.72vw;
    color: #8951AD;
    font-size: 18px; }
  .personalizados button {
    position: absolute;
    background-color: #F471B7;
    bottom: 17.5vh;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    color: white;
    width: 66.66667vw;
    height: 5.625vh; }

.seccionCondiciones {
  height: 52.5vh;
  padding-top: 3.75vh;
  padding-left: 9.44vw;
  padding-right: 5vw; }
  .seccionCondiciones .condicionPedido {
    margin-bottom: 3.75vh;
    height: 7.5vh;
    display: grid;
    grid-template-areas: "icono titulo" "icono descripcion";
    grid-template-columns: 18.33vw 67.23vw; }
    .seccionCondiciones .condicionPedido .icono {
      grid-area: icono;
      display: flex;
      justify-content: center;
      align-items: center; }
      .seccionCondiciones .condicionPedido .icono img {
        height: 100%;
        width: 100%;
        fill: #8951AD; }
    .seccionCondiciones .condicionPedido .icarrito {
      height: 5vh;
      width: 10vw; }
    .seccionCondiciones .condicionPedido .ipago {
      height: 5vh;
      width: 8.88889vw; }
    .seccionCondiciones .condicionPedido .iretiro {
      height: 3.125vh;
      width: 8.88889vw; }
    .seccionCondiciones .condicionPedido .ientrega {
      height: 5vh;
      width: 12.77778vw; }
    .seccionCondiciones .condicionPedido .titulo {
      grid-area: titulo;
      color: #8951AD; }
    .seccionCondiciones .condicionPedido .descripcion {
      grid-area: descripcion; }

.instagramFeed {
  height: 47.5vh;
  width: 100vw;
  padding-left: 4.44444vw;
  padding-right: 4.72222vw; }
  .instagramFeed h1 {
    text-align: left; }
  .instagramFeed h3 {
    text-align: right; }
  .instagramFeed iframe {
    height: 38.75vh !important; }

footer {
  height: 50vh;
  width: 100vw;
  background-color: #3636ad;
  padding-top: 8.75vh;
  padding-bottom: 8.4375vh;
  padding-right: 2.22222vw;
  padding-left: 4.44444vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/img/Footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  footer h1 {
    color: white; }
  footer form {
    margin-top: 6.25vh;
    margin-bottom: 9.0625vh;
    display: flex; }
    footer form input {
      margin: 0;
      border: 0px; }
    footer form .inputNewsletter {
      width: 45vw;
      height: 5.625vh; }
    footer form .botonNewsletter {
      background-color: #8951AD;
      color: white;
      border-radius: 0 4px 4px 0;
      width: 48.33333vw;
      height: 5.625vh;
      font-size: 15px; }
  footer .redesSociales {
    position: absolute;
    bottom: 8.4375vh;
    height: 3.125vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    footer .redesSociales img {
      height: 100%;
      width: auto;
      object-fit: scale-down; }
