/*Variables*/
/*SCSS*/
* {
  margin: 0; }

body {
  font-family: sans-serif; }

h1 {
  font-size: 22px;
  text-align: center; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 15px;
  font-weight: bold; }

p {
  font-size: 12px; }

.navbar {
  background-color: #F471B7;
  height: 12.5vh; }

.imageWrapper {
  height: 87.5vh;
  width: 100vw;
  background-color: #F471B7; }

img {
  height: 87.5vh;
  width: 100vw;
  object-fit: cover;
  /*contain, cover, scale-down, fill, none*/ }

.nuestrosProductos {
  padding-top: 11vh;
  padding-left: 4.5vh;
  padding-right: 4.5vh; }
  .nuestrosProductos h1 {
    color: #F471B7; }

.linea {
  border-top: solid;
  border-width: 1px;
  border-color: #FEBF55;
  width: 55vw;
  margin: auto;
  margin-top: 3.75vh;
  margin-bottom: 3.75vh; }

.productosContenedor {
  padding-right: 4.5vw;
  padding-left: 4.5vw; }

.seccionProductos {
  position: relative;
  border: solid black;
  border-radius: 4px;
  height: 28.75vh;
  width: 100%;
  margin-bottom: 4.5vh;
  padding: 4.5vw 2.25vw 2.25vw 4.5vw; }
  .seccionProductos h2 {
    color: #F471B7; }

.boton {
  border-radius: 4px;
  border-width: 0;
  background-color: #C9A2E2;
  color: white;
  font-size: 15px;
  padding: 0 4.5vw;
  position: absolute;
  right: 2.25vw;
  bottom: 1.25vh; }

.personalizados {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: teal;
  text-align: center;
  padding-top: 12.5vh;
  display: flex;
  justify-content: center; }
  .personalizados h1 {
    margin-left: 14.72vw;
    margin-right: 14.72vw;
    color: #F471B7; }
  .personalizados button {
    position: absolute;
    background-color: #F471B7;
    bottom: 17.5vh;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    color: white;
    width: 57.78vw; }

.seccionCondiciones {
  height: 52.5vh;
  padding-top: 3.75vh;
  padding-left: 9.44vw;
  padding-right: 5vw; }
  .seccionCondiciones .condicionPedido {
    margin-bottom: 3.75vh;
    height: 7.5vh;
    display: grid;
    grid-template-areas: "icono titulo" "icono descripcion";
    grid-template-columns: 18.33vw 67.23vw; }
    .seccionCondiciones .condicionPedido .icono {
      grid-area: icono;
      height: 5.625vh;
      width: 8.88889vw; }
      .seccionCondiciones .condicionPedido .icono img {
        height: 5.625vh;
        width: 10vw; }
    .seccionCondiciones .condicionPedido .titulo {
      grid-area: titulo; }
    .seccionCondiciones .condicionPedido .descripcion {
      grid-area: descripcion; }

.instagramFeed {
  height: 47.5vh;
  width: 100vw;
  background-color: #FEBF55;
  padding-left: 4.44444vw;
  padding-right: 4.72222vw; }
  .instagramFeed h1 {
    text-align: left; }
  .instagramFeed h3 {
    text-align: right; }

footer {
  height: 50vh;
  width: 100vw;
  background-color: lightcoral;
  padding-top: 8.75vh;
  padding-bottom: 8.4375vh;
  padding-right: 2.22222vw;
  padding-left: 4.44444vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer h1 {
    color: white; }
  footer form {
    margin-top: 6.25vh;
    margin-bottom: 9.0625vh;
    display: flex; }
    footer form input {
      margin: 0;
      border: 0px; }
    footer form .inputNewsletter {
      width: 45vw;
      height: 5.625vh; }
    footer form .botonNewsletter {
      background-color: #C9A2E2;
      color: white;
      border-radius: 0 4px 4px 0;
      width: 48.33333vw;
      height: 5.625vh;
      font-size: 15px; }
  footer .redesSociales {
    position: absolute;
    bottom: 8.4375vh;
    height: 5.46875vh;
    width: 36.66667vw;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .redesSociales img {
      height: 100%;
      width: auto;
      object-fit: scale-down; }
