/*Variables*/
$color-principal:#F471B7;
$color-secundario:#8951AD;
$color-titulo-secciones:#C9A2E2;
$color-linea:#FEBF55;
$ancho:360px;
$alto:640px;


/*SCSS*/
* {
    margin: 0;
    padding:0;
    border:0;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 22px;
    text-align: center;
}

h2 {
    font-size: 18px;
}
h3{
    font-size: 15px;
    font-weight: bold;
}
p{
    font-size: 12px;
}


.imageWrapper{
    // margin-top: 80px;
    // position: absolute;
    // top:0;
    position: relative;
    //top: -111px;
    height: 100vh;
    width: 100vw;
    background-color: $color-secundario;
    background-image: url(../assets/img/Foto-portada.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    // img {
    //     // height: 100%;
    //     // // width: 100vw;
    //     // max-width: 100%;
    //     max-height: 100%;
    //     position: absolute;
    //     bottom:0;
    //     // object-fit: cover; /*contain, cover, scale-down, fill, none*/
    // }
}



.nuestrosProductos {
    padding-top: 38px/$alto*100vh ;
    padding-left: 4.5vh;
    padding-right: 4.5vh;
    h1{
        color:$color-principal;
    }
}

.linea {
    border-top: solid;
    border-width: 1px;
    border-color:$color-linea;
    width: 55vw;
    margin: auto;
    margin-top: 3.75vh;
    margin-bottom: 3.75vh;   
}


.productosContenedor {
    
    a{
        text-decoration: none;
    }
     .seccionProductos {
        position: relative;
        // border: solid black;
        border-radius: 4px;
        height: 28.75vh;
        width: 100%;
        margin-bottom:4.5vh;
        padding: 4.5vw 2.25vw 2.25vw 0;
        .tituloSeccion{
            height: 30px;
            width: 90%;
            background-color: $color-titulo-secciones;
            border-radius: 0 45px 45px 0;            
            h2 {
                color:white;
                text-align: center;
                // padding-top:4px/$alto*100vh ;
                line-height: 30px;
            }
        }
        
        .boton{
            border-radius: 4px;
            border-width: 0;
            background-color:$color-secundario;
            color: white;
            font-size: 15px;
            padding: 0 auto;
            position: absolute;
            right: 2.25vw;
            bottom:1.25vh;
            height: 36px;
            width: 91px;
        }
    }
    .tortas {
        background-image: url(../assets/img/Portada-card-tortas.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .momentoDulce {
        background-image: url(../assets/img/Portada-card-momentodulce.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .desayunos {
        background-image: url(../assets/img/Portada-card-desayunos-meriendas.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .festividades {
        background-image: url(../assets/img/Portada-card-Festividades.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.personalizados {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: teal;
    text-align: center;
    padding-top: 388px/$alto*100vh;
    display: flex;
    justify-content: center;

    background-image: url(../assets/img/Seccion-pedidos-personalizados.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h2 {
        margin-left: 14.72vw;
        margin-right: 14.72vw;
        color: $color-secundario;
      
    }
    button {
        position: absolute;
        background-color:$color-principal ;
        bottom: 112px/$alto*100vh;
        border-radius: 4px;
        border: none;
        font-size: 15px;
        color: white;
        width: 240px;
        height: 36px;
    }
    
}

.seccionCondiciones {
    height: 52.5vh;
    padding-top: 3.75vh;
    padding-left: 9.44vw;
    padding-right: 5vw;
    

  .lineaArriba{
      margin-top: 0;
      margin-bottom: 16px/$alto*100vh;
  }

  .lineaAbajo{
    margin-top: 16px/$alto*100vh;

  }
   
    .condicionPedido {
        margin-bottom: 3.75vh; 
        height: 7.5vh;
        display: grid;
        grid-template-areas: 
                            "icono titulo"
                            "icono descripcion";
        grid-template-columns: 18.33vw 67.23vw;
        grid-template-rows: 32px 40px;
            
        
        .icono {
            grid-area: icono;
            display: flex;
            justify-content: center;
            align-items: center;
            // border:solid black;
            // background-color: burlywood;
            // img{
            //    height: 100%;
            //    width: 100%;
            //    fill: $color-secundario;
            // }
        }
        .icarrito{
            height: 32px;
            width: 36px;
            
        }
        .ipago{
            height: 32px;
            width: 32px;
            
        }
        .iretiro{
            height: 20px;
            width: 32px;
            
        }
        .ientrega{
            height: 32px;
            width: 46px;
            
        }
        
        .titulo {
            grid-area: titulo;
            color: $color-secundario;
            margin:auto 0;
            // border:solid black;
            h3{
                margin-bottom: 0;
            }
        }
        
        .descripcion {
            grid-area: descripcion;   
            // border:solid black;
        }
    }
}
.iconosFlotantes{
    height: 112px;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: contain;
    position: fixed;
    left: 16px/$ancho*100vw;
    bottom: 16px/$alto*100vh;
    z-index: 100;

    a{
        text-decoration: none;
    }

    img{
        width: 100%;
        height: auto;
    }
}
.instagramFeed{
    // height: (304px/$alto)*100vh;
    width: 100vw;
    margin-top: 24px/$alto*100vh;
    padding-left: 16px/$ancho*100vw;
    padding-right: 17px/$ancho*100vw;
    h1{
        text-align: left;
        color: $color-secundario;
    }
    h3{
        text-align: right;
        color: $color-principal;
    }
    iframe{
        //  height: 248px/$alto*100vh !important;
        height: 2/3*100vw !important;
     } 
}

footer{
    height: 320px;
    width: 100vw;
    // background-color: rgb(54, 54, 173);
    padding-top: 56px/$alto*100vh;
    padding-bottom: 54px/$alto*100vh;
    padding-right: 8px/$ancho*100vw;
    padding-left: 16px/$ancho*100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/Footer-Opacity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .5);
    h2{
        color:white;
        text-align: center;
    }
    form{
        margin-top:40px;
        margin-bottom:58px;
        display:flex;
        
        input{
            margin:0;
            border:0px;
        }
        .inputNewsletter{
            padding-left: 3px;
            width:176px; 
            height: 36px;
            font-size: 15px;
        }
        
        .botonNewsletter{
            background-color: $color-secundario;
            color:white;
            border-radius: 0 4px 4px 0;
            width:176px;
            height: 36px;
            font-size: 15px;
        }
    }
    .redesSociales{
        position: absolute;
        bottom: 54px;
        height: 20px;
        width: 180px;  
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        img{
            // width: 40px/$ancho*100vw;
            height: 100%;
            width: auto;
            object-fit: scale-down;
        }
    }
}

/*SOBRE NOSOTROS - FORMULARIO*/

// .bodyNosotros {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
// }

.sectionMargin{
    margin-bottom: 1px;
}
.sectionWrapper {
    padding-top: 96px/$alto*100vh;
    
    // height: 491px/$alto*100vh;
    width: 100vw;
    h1{
        margin-bottom: 0;
        color: $color-principal;
    }
    .linea{
        margin-top: 8px/$alto*100vh;
    }

    .contenido {
        
        display: grid;
        grid-template-areas: 
                "foto1 texto"
                "foto2 texto";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-right: 16px;
    padding-left: 16px;
        
    }

    .foto1{
        grid-area: foto1;
        margin-bottom: 16px/$alto*100vh;
        width:152px/$ancho*100vw;
        border: solid black;
        height: 189px/$alto*100vh ;
        background-color: blue;
        
        img{
            object-fit: scale-down;
        }
    }
    
    .foto2{
        grid-area: foto2;
        width:152px/$ancho*100vw;
        border: solid black;
        height: 189px/$alto*100vh ;
        background-color: blue;
        
        img{
            object-fit: scale-down;
        }
    }
    .texto {
        grid-area: texto;
        text-align: justify;
    }
}

/*------------------FORMULARIO----------------*/
.sectionWrapper{
    margin-top: 32px;
}
.formWrapper {
    padding: 0 16px/$ancho*100vw;
 
    .inputForm{
        outline: 0;
        border: none;
        border-bottom: 1px solid $color-titulo-secciones;
        width: 100%;
        margin-bottom: 16px/$alto*100vh;
    }
    textarea{
        height:74px/$alto*100vh ;
        width: 100%;
        border:none;
        border-bottom: 1px solid $color-titulo-secciones;
        margin-bottom: 31px/$alto*100vh;
        
    }   
    .botonFormulario{
        margin-top: 32px/$alto*100vh;
        margin-bottom: 24px/$alto*100vh;
        width: 240px;
        height: 36px;
        background-color: $color-principal;
        color: white;
        border-radius: 4px;
        border:none;
       float: right;

    }
}

/*--------------RESPONSIVE-----------*/
$altoDesktop:1140px;
$anchoDesktop:1440px;


@media only screen and (min-width:768px){
    .bodyWrapper{
        max-width: 1440px; //
        
        margin-left:auto;
        margin-right: auto;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }

    .imageWrapper{
        max-width: 100%; //
        img{
            max-width: 100%;
        }
    }

    .linea{
        width: 200px;
    }

    .nuestrosProductos{
        // padding-top: 31px/$altoDesktop*100vh;
        
        padding-left: 16px/$anchoDesktop*100vw;
        padding-right: 16px/$anchoDesktop*100vw;

        .productosContenedor{
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            justify-content: space-evenly;
            flex-wrap:nowrap;

            .seccionProductos{
                height:504px/$altoDesktop*100vh;
                width:340px/$anchoDesktop*100vw;
                max-width: 340px;
                margin-right: 16px/$anchoDesktop*100vw;
                padding-top: 32px/$altoDesktop*100vh;
                
                .boton{
                    background-color: $color-titulo-secciones;
                    position: absolute;
                    bottom:16px/$altoDesktop*100vh;
                    right:14px/$anchoDesktop*100vw;
                    width: 95px;
                }
            }

            .festividades{
                margin-right: 0;
            }
        }
    }
    
    .seccionProductos:hover{
        button{
            background-color: $color-secundario !important;
        }
        .tituloSeccion{
            background-color: $color-secundario;
        }
    }

    .personalizados{
        width: 100%; //
        padding-top: 601px/$altoDesktop*100vh;
        .tituloPersonalizado{
            height: 175px;
            width: 693px;
            text-align: center;
            margin: auto;

            h2{
                font-size: 30px;
            }
        }
        button{
            bottom:164px/$altoDesktop*100vh
        }
        
    }

    .seccionCondiciones {
        padding-left: 16px/$anchoDesktop*100vw;
        padding-right: 16px/$anchoDesktop*100vw;
        padding-top: 56px/$altoDesktop*100vh;
        height: 274px/$altoDesktop*100vh;
        
         
        .lineaArriba{
            margin-bottom: 47.5px/$altoDesktop*100vh;
        }

        .lineaAbajo{
            margin-top: 48px/$altoDesktop*100vh;
            margin-bottom: 55.5px/$altoDesktop*100vh;  
        }
        .condicionesWrapper{
            width: 100%; //
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
           
        }
        .condicionPedido{
            width: 25%;  //
        grid-template-columns: 28% 72%; //6.67vw 17.22vw
        grid-template-rows: 24px 40px;
        margin-bottom: 0;
        // border: solid black;
        p{
            font-size: 16px;
        }
        }
    }
    .instagramFeed{
        margin-top: 0;
        // height: 1040px/$altoDesktop*100vh;
        padding-left: 32px/$anchoDesktop*100vw;
        padding-right: 32px/$anchoDesktop*100vw; 
        // background-color: $color-principal;
        width: 100%; //
       
        h3{
            font-size: 20px;
        }
        iframe{
            //  height: 905px/$altoDesktop*100vh !important;
            width: 100%; //
            height: 2/3*100vw !important;
             background-color: $color-linea;
            
        } 
    }

    footer {
        padding-top: 48px/$altoDesktop*100vh;
        padding-left: 483px/$anchoDesktop*100vw;
        padding-right: 525px/$anchoDesktop*100vw;
       
        
        
       .tituloFooter{
           height: 64px/$altoDesktop*100vh;
           width: 432px/$anchoDesktop*100vw;
           h2{
               font-weight: 600;
           }
        .redesSociales{
            height: 25px;
        }
           
       }
    }

    /*---------------SOBRE NOSOTROS---------*/
    .sectionWrapper{
        height: 684px/$altoDesktop*100vh;
        .contenido{
            display: grid;
            grid-template-areas: "foto1 texto foto2"!important;
            grid-template-columns: 25% 50% 25% !important;
            grid-template-rows: 455px/$altoDesktop*100vh!important;
            border: solid black;
            
            .foto1{
                grid-area:foto1;
                width: 343px/$anchoDesktop*100vw;
                height: 416px/$altoDesktop*100vh;
                background-color: red;
                margin-bottom: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .foto2{
                grid-area:foto2;
                width: 343px/$anchoDesktop*100vw;
                height: 416px/$altoDesktop*100vh;
                background-color: red;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .texto {
                grid-area: texto;
                text-align: justify;
                height: 416px/$altoDesktop*100vh;
                display: flex;
               flex-direction: column;
                align-items: center;
                justify-content: center;
                
            }
        }
    }

    .footerRow{
        margin-top: 134px;
    }

    /*---------------FORMULARIO CONTACTO-----------*/

    .formWrapper{
        // margin:0;
        margin: 0 371px/$anchoDesktop*100vw;
        // margin-left: 371px;
        // margin-right: 371px;
        // padding: 0 20vw;
        .botonFormulario{
            padding:0;
        }
    }
}